{% extends "layout.html" %}
{% load static %}


{% block content %}

<div class="help-page">
    <div class="help-container">
        <h1 class="help-title pixel-text">Yardım Sayfası</h1>
        <p class="help-text pixel-text">
            INFO SECTION CAN BE CHANGE FROM HELP.HTML
            <br><br>
            INFO
            <br><br>
            NOT! If you are out of money please click the button  <br>     <a href="{% url 'money_req'%}" class="help-link">Bakiye Yukleme</a>
        </p>
    </div>
</div>










{% endblock content %}













