{% extends "layout.html" %}


{% block content %}

<form action="{% url 'secret_entrance'%}" method = 'POST'>
    {% csrf_token %}
<div class="password-container d-flex justify-content-center align-items-center" style="min-height: 100vh; padding-top: 70px;">
    <div class="password-box text-center">
        <h2 class = "pixel-text" style = "color:white;">Secret Entrance</h2>
        <br>
        <input type="password" class="password-input form-control" placeholder="Parola" name="password" required>
        <button class="submit-btn btn btn-primary mt-3">giris</button>
        <br>
        <small style = "font-size:15px; color: white;" class= 'pixel-text'>! HINT </small>
    </div>
    {% if error_message %}
    <p class="pixel-text"style="color: red; text-align: center;">{{ error_message }}</p>
    {% endif %}

</div>
</form>


{% endblock content %}